@import url(/css/dist/font.css);
* a {
  text-decoration: none;
}

.section-outor {
  font-family: 'Solomon-Sans-Normal';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-outor .section-inner {
  width: 100%;
  left: 0;
}

.section-inner {
  min-width: 0;
  max-width: 1440px !important;
}

.header {
  height: 117px;
  width: 100%;
  padding-left: 50%;
  background-color: #002B5A;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  color: cornsilk;
  font-family: 'Solomon-Sans-Normal';
  border-bottom: 1px solid white;
}

.header .header-content {
  margin-left: -720px;
  width: 1440px;
  padding: 0 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-logo {
  cursor: pointer;
}

.header .header-nav ul {
  padding: 0;
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -80px;
  margin-bottom: 5px;
}

.header .header-nav ul li {
  cursor: pointer;
  list-style-type: none;
}

.header .header-contacts {
  width: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2px;
}

.slider-outer {
  width: 100%;
}

.slider-bg {
  background: url("../../image/header_bg-min.png"), #002B5A no-repeat;
  background-size: 100% 100%;
}

.slider {
  margin-top: 117px;
  color: cornsilk;
  padding: 0 165px;
  height: 597px;
}

.slider .swiper-container .swiper-wrapper {
  margin-top: 90px;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .carousel-item .carousel-item__image img {
  width: 535px;
  height: 393px;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content {
  margin-top: 77px;
  margin-left: 41px;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__title {
  font-family: 'Solomon-Sans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  padding-bottom: 3px;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__subtitle {
  width: 363px;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.slider .swiper-container .swiper-control-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 51.70%;
  margin-top: -55px;
}

.slider .swiper-container .swiper-control-btn .btn-prev {
  width: 48px;
  height: 48px;
  background: url("../../image/arrow-down.png") center center no-repeat;
  opacity: 0.3;
  cursor: pointer;
  z-index: 9000;
}

.slider .swiper-container .swiper-control-btn .btn-next {
  margin-left: 16px;
  width: 48px;
  height: 48px;
  background-color: rgba(211, 211, 219, 0.884);
  background: url("../../image/slider-next-arrow.png") center center no-repeat;
  cursor: pointer;
  z-index: 9000;
}

.numbers-bg {
  background: url("../../image/numbers-bg.png"), #002B5A no-repeat;
}

.numbers {
  color: #002855;
  min-height: 294px;
  padding: 35px 256px 65px 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers-item--8 {
  margin-top: 18px;
}

.numbers-item--8__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
}

.numbers-item--8 .number-line {
  height: 2px;
  background: #002855;
  background: -webkit-gradient(linear, left top, right top, from(#002855), color-stop(23%, #090979), to(#1697ff));
  background: linear-gradient(90deg, #002855 0%, #090979 23%, #1697ff 100%);
}

.numbers-item--8 .numders-item__subtitle {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.numbers-item__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
}

.numbers-item .number-line {
  height: 2px;
  background: #002855;
  background: -webkit-gradient(linear, left top, right top, from(#002855), color-stop(23%, #090979), to(#1697ff));
  background: linear-gradient(90deg, #002855 0%, #090979 23%, #1697ff 100%);
}

.numbers-item .numders-item__subtitle {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.directions-bg {
  background: url("../../image/slider-bg.webp"), #002B5A no-repeat;
  background-size: 100% 100%;
}

.directions {
  min-height: 1093px;
  padding: 0 165px 40px 165px;
}

.directions-title {
  color: #fff;
  padding-top: 120px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  /* identical to box height, or 48px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
}

.directions-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.directions-item__wrapper .directions-item {
  background-color: #fff;
  height: 301px;
  width: 190px;
  margin-top: 40px;
}

.directions-item__wrapper .directions-item__image img {
  width: 190px;
  height: 190px;
}

.directions-item__wrapper .directions-item a {
  text-decoration: none;
}

.directions-item__wrapper .directions-item__title {
  width: 160px;
  height: 38px;
  margin: 14px 15px 0 15px;
  text-transform: uppercase;
  font-family: 'Solomon-Sans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #002855;
}

.directions-item__wrapper .directions-item__title span {
  margin-left: -7px;
  margin-top: 50px;
}

.directions-item__wrapper .directions-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #0072CE;
  margin-top: 25px;
  display: flex;
}

.directions-item__wrapper .directions-item__link .ico {
  width: 12px;
  height: 12px;
  margin-left: 15px;
  margin-right: 15px;
  color: #0072CE;
  background: url("../../image/directions-ico.png") center center;
}

.directions-item__wrapper .directions-item__link .link {
  margin-right: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #0072CE;
}

.directions-item__wrapper .directions-item:hover {
  background-color: #0072CE;
  -webkit-transition: .3s;
  transition: .3s;
}

.directions-item__wrapper .directions-item:hover .directions-item__title {
  color: #ffffff;
}

.directions-item__wrapper .directions-item:hover .directions-item__link .ico {
  background: url("../../image/directions-ico-active.png") center center;
}

.directions-item__wrapper .directions-item:hover .directions-item__link .link {
  color: #FFFFFF;
}

.directions-item__wrapper .directions-item:active {
  background-color: #002855;
  color: white;
}

.directions .button-all-links {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Solomon-Sans-Normal';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #002855;
}

.directions .button-all-links a {
  text-decoration: none;
}

.directions .button-all-links button {
  outline: none;
  border: none;
  width: 230px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.directions .button-all-links button .button-ico {
  width: 48px;
  height: 48px;
  background: url("../../image/directions-button-arrow.png") center center no-repeat;
}

.directions .button-all-links button:hover {
  outline: none;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #1697FF;
}

.directions .button-all-links button:hover .button-text {
  color: white;
}

.directions .button-all-links button:hover .button-ico {
  background: url("../../image/directions-button-arrow-active.png") center center no-repeat;
}

.directions .button-all-links button:active {
  outline: none;
  border: none;
  background-color: #002855;
}

.geography {
  margin: 0 165px;
}

.geography-title {
  margin-top: 117px;
  font-family: 'Solomon-Sans-Normal';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #002855;
}

.geography .geography-map__wrapper {
  margin-top: 65px;
  position: relative;
}

.geography .geography-map__wrapper .geo {
  position: absolute;
  height: 55px;
  width: 55px;
  background: url("/image/geo-pass.png") center center no-repeat;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-iteration-count: inherit;
          animation-iteration-count: inherit;
}

.geography .geography-map__wrapper .geo--active {
  position: absolute;
  height: 55px;
  width: 55px;
  background: url("/image/geo-active.png") center center no-repeat;
}

.geography .geography-map__wrapper #geo14 {
  margin-top: 405px;
  margin-left: 565px;
}

.contacts-bg {
  background: url(../../image/contact-bg.png) bottom center no-repeat;
  background-size: 100% 70%;
}

.contacts {
  padding: 0 165px;
  padding-bottom: 120px;
}

.contacts-title {
  margin-top: 120px;
  font-family: 'Solomon-Sans-Normal';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #002855;
}

.contacts-items-wrapper {
  padding-right: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-items-wrapper .item {
  margin-top: 59px;
  padding-top: 8px;
  border-left: 5px solid #002855;
  width: 419px;
  min-height: 160px;
  padding-left: 25px;
}

.contacts-items-wrapper .item__img img {
  width: 111px;
  height: 26px;
}

.contacts-items-wrapper .item__description {
  margin-top: 15px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.contacts-items-wrapper .item__number {
  margin-top: 15px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.contacts-items-wrapper .item__link {
  margin-top: 15px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.footer-bg {
  background-color: #002855;
}

.footer {
  padding: 0 165px;
  height: 34vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding-top: 90px;
}

.footer-contacts__title {
  margin-top: 36px;
  width: 180px;
  margin-bottom: 5px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: bold;
  font-size: 10.6539px;
  line-height: 13px;
}

.footer-contacts__subtitle {
  width: 180px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.footer .footer-logos__wrapper {
  width: 533px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-logos__copywrite {
  margin-top: 150px;
  text-align: right;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.admin-body {
  margin-top: 150px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.admin-body .admin-section {
  margin: 90px 0;
}

.admin-body .admin-section__manage {
  height: 10vh;
  border: 4px inset #4548d3;
  margin: 10px 0;
  overflow-x: scroll;
}

.admin-body .admin-section__manage .manage-element {
  margin: 5px 0;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-body .admin-section__manage .manage-element:hover {
  background-color: rgba(150, 141, 141, 0.3);
  -webkit-transition: .5;
  transition: .5;
}

@media screen and (max-width: 1439px) {
  .header-content {
    padding: 0;
  }
  .slider {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1250px) {
  .header-content {
    padding: 0 250px !important;
  }
  .slider {
    padding: 0 60px;
    height: 480px;
  }
  .slider .swiper-container .swiper-wrapper .swiper-slide .carousel-item .carousel-item__image img {
    width: 435px;
    height: 287px;
  }
  .slider .swiper-container .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content {
    margin-top: 0;
  }
  .slider .swiper-control-btn {
    display: hidden;
  }
}
/*# sourceMappingURL=style.css.map */