@import url(/css/font.css);
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

body {
  font-family: 'SolomonSans-Regular';
}

body a {
  text-decoration: none;
}

.section-outor {
  font-family: 'SolomonSans-Regular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-outor .section-inner {
  width: 100%;
  left: 0;
}

.section-inner {
  min-width: 0;
  max-width: 1440px !important;
}

.header {
  z-index: 9999;
  height: 117px;
  width: 100%;
  background-color: #002B5A;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  color: cornsilk;
  font-family: 'SolomonSans-Regular';
  border-bottom: 1px solid white;
}

.header .header-content {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-logo {
  cursor: pointer;
}

.header .header-nav ul {
  padding: 0;
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -80px;
  margin-bottom: 5px;
}

.header .header-nav ul li {
  margin-right: 2px;
  padding-left: 2px;
  padding-bottom: 15px;
  cursor: pointer;
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.header .header-nav--mobile {
  display: none;
}

.header .header-contacts {
  width: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.slider-outer {
  width: 100%;
}

.slider-bg {
  background: url("../../image/header_bg-min.png") center center, #002B5A no-repeat;
  background-size: cover;
}

.slider {
  margin-top: 117px;
  color: white;
  padding: 0 165px;
  height: 597px;
}

.slider .swiper .swiper-wrapper {
  margin-top: 90px;
}

.slider .swiper .swiper-wrapper .swiper-slide .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__image img {
  width: 535px;
  height: 393px;
}

.slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content {
  margin-top: 77px;
  margin-left: 41px;
}

.slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__title {
  font-family: 'SolomonSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}

.slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__subtitle {
  width: 363px;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.slider .swiper .swiper-control-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 51.70%;
  margin-top: -55px;
}

.slider .swiper .swiper-control-btn .btn-prev {
  width: 48px;
  height: 48px;
  background: url("../../image/arrow-down.png") center center no-repeat;
  opacity: 0.3;
  cursor: pointer;
  z-index: 1;
}

.slider .swiper .swiper-control-btn .btn-next {
  margin-left: 16px;
  width: 48px;
  height: 48px;
  background-color: rgba(211, 211, 219, 0.884);
  background: url("../../image/slider-next-arrow.png") center center no-repeat;
  cursor: pointer;
  z-index: 1;
}

.numbers-bg {
  background: url("../../image/numbers-bg.png") bottom center, #002B5A no-repeat;
  background-size: cover;
}

.numbers {
  font-family: 'SolomonSans-SemiBold';
  color: #002855;
  height: 194px;
  padding: 35px 256px 65px 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers-item--8 {
  margin-top: 18px;
}

.numbers-item--8__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
}

.numbers-item--8 .number-line {
  height: 2px;
  background: #002855;
  background: -webkit-gradient(linear, left top, right top, from(#002855), color-stop(23%, #090979), to(#1697ff));
  background: linear-gradient(90deg, #002855 0%, #090979 23%, #1697ff 100%);
}

.numbers-item--8 .numders-item__subtitle {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.numbers-item__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
}

.numbers-item .number-line {
  height: 2px;
  background: #002855;
  background: -webkit-gradient(linear, left top, right top, from(#002855), color-stop(23%, #090979), to(#1697ff));
  background: linear-gradient(90deg, #002855 0%, #090979 23%, #1697ff 100%);
}

.numbers-item .numders-item__subtitle {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.directions-bg {
  background: url("../../image/categories_bg-min.png") center center, #002B5A no-repeat;
  background-size: cover;
}

.directions {
  padding: 0 165px 0 165px;
}

.directions-title {
  color: white;
  padding-top: 120px;
  margin-bottom: 20px;
  font-family: 'SolomonSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.directions-item__wrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(190px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.directions-item__wrapper .directions-item {
  background-color: white;
  height: 301px;
  width: 190px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.directions-item__wrapper .directions-item__image .directions-item__image--desktop img {
  -o-object-fit: cover;
     object-fit: cover;
}

.directions-item__wrapper .directions-item__image .directions-item__image--mobile {
  display: none;
}

.directions-item__wrapper .directions-item a {
  padding-top: 14px;
  height: 111px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions-item__wrapper .directions-item__title {
  width: 160px;
  height: 38px;
  margin: 0 15px;
  text-transform: uppercase;
  font-family: 'SolomonSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #002855;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.directions-item__wrapper .directions-item__title span {
  margin-left: -7px;
  margin-top: 50px;
}

.directions-item__wrapper .directions-item__link {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #0072CE;
  display: flex;
}

.directions-item__wrapper .directions-item__link .ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12px;
  height: 12px;
  margin-left: 15px;
  margin-right: 15px;
  color: #0072CE;
}

.directions-item__wrapper .directions-item__link .link {
  width: 130;
  margin-right: 25px;
  word-break: break-all;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #0072CE;
}

.directions-item__wrapper .directions-item:hover {
  background-color: #0072CE;
  -webkit-transition: .3s;
  transition: .3s;
}

.directions-item__wrapper .directions-item:hover .directions-item__title {
  color: white;
}

.directions-item__wrapper .directions-item:hover .directions-item__link .ico svg path {
  fill: #f5f5f5;
}

.directions-item__wrapper .directions-item:hover .directions-item__link .link {
  color: white;
}

.directions-item__wrapper .directions-item:active {
  background-color: #002855;
  color: white;
}

.directions .button-all-links {
  position: static;
}

.directions .button-all-links .links-wrapper {
  margin-bottom: 40px;
  width: 100% !important;
  position: static;
  left: 0;
  height: 73px;
  text-align: center;
  background-color: white;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SolomonSans-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.directions .button-all-links .links-wrapper a {
  text-decoration: none;
}

.directions .button-all-links .links-wrapper a button {
  color: white;
  background-color: #002855;
  outline: none;
  border: none;
  width: 230px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.directions .button-all-links .links-wrapper a button .button-ico {
  width: 48px;
  height: 48px;
  background: url("../../image/directions-button-arrow-active.png") center center no-repeat;
}

.directions .button-all-links .links-wrapper a button:hover {
  outline: none;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #1697FF;
}

.directions .button-all-links .links-wrapper a button:hover .button-text {
  color: white;
}

.directions .button-all-links .links-wrapper a button:hover .button-ico {
  background: url("../../image/directions-button-arrow-active.png") center center no-repeat;
}

.directions .button-all-links .links-wrapper a button:active {
  outline: none;
  border: none;
  background-color: #002855;
}

.geography {
  margin: 0 165px;
}

.geography-title {
  margin-top: 117px;
  font-family: 'SolomonSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #002855;
}

.geography-title .preloader {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.geography-title .preloader-remove {
  -webkit-animation-play-state: start;
          animation-play-state: start;
}

.geography .geography-map__wrapper {
  margin-top: 65px;
  position: relative;
}

.geography .geography-map__wrapper svg {
  position: relative;
}

.geography .geography-map__wrapper svg g {
  position: relative;
}

.geography .geography-map__wrapper svg g .r_load {
  -webkit-animation-delay: 50s;
          animation-delay: 50s;
}

.geography .geography-map__wrapper svg g .r_on path:nth-child(2) {
  visibility: hidden;
  -webkit-transition: visibility 0, 5s;
  transition: visibility 0, 5s;
}

.geography .geography-map__wrapper svg g .r_on path:nth-child(3) {
  fill: #002855;
  fill-opacity: 1;
  -webkit-transition: fill-opacity 1s;
  transition: fill-opacity 1s;
  -webkit-transition: fill 0, 5s;
  transition: fill 0, 5s;
  -webkit-animation: ropas infinite 6s linear;
          animation: ropas infinite 6s linear;
}

.geography .geography-map__wrapper svg g .r_on path:nth-child(4) {
  visibility: hidden;
  -webkit-transition: visibility 0, 5s;
  transition: visibility 0, 5s;
}

.geography .geography-map__wrapper svg g .r_on path:nth-child(5) {
  stroke-width: 1.4;
  -webkit-animation: anime infinite 6s linear;
          animation: anime infinite 6s linear;
}

@-webkit-keyframes anime {
  0% {
    stroke: #ffffff;
  }
  20% {
    stroke: #7ba9e2;
  }
  40% {
    stroke: #2b80e9;
  }
  80% {
    stroke: #7ba9e2;
  }
  100% {
    stroke: #ffffff;
  }
}

@keyframes anime {
  0% {
    stroke: #ffffff;
  }
  20% {
    stroke: #7ba9e2;
  }
  40% {
    stroke: #2b80e9;
  }
  80% {
    stroke: #7ba9e2;
  }
  100% {
    stroke: #ffffff;
  }
}

@-webkit-keyframes ropas {
  0% {
    opacity: 0.85;
    fill: #002855;
  }
  20% {
    opacity: 0.9;
    fill: #003879;
  }
  40% {
    opacity: 1;
    fill: #1462bb;
  }
  80% {
    opacity: 0.9;
    fill: #003879;
  }
  100% {
    opacity: 0.85;
    fill: #002855;
  }
}

@keyframes ropas {
  0% {
    opacity: 0.85;
    fill: #002855;
  }
  20% {
    opacity: 0.9;
    fill: #003879;
  }
  40% {
    opacity: 1;
    fill: #1462bb;
  }
  80% {
    opacity: 0.9;
    fill: #003879;
  }
  100% {
    opacity: 0.85;
    fill: #002855;
  }
}

.geography .geography-map__wrapper svg g .geoHover path:nth-child(2) {
  visibility: visible;
  -webkit-animation: fillOpas 1.5s linear;
          animation: fillOpas 1.5s linear;
}

.geography .geography-map__wrapper svg g .geoHover path:nth-child(3) {
  fill: #1697FF;
  fill-opacity: 0.7;
  -webkit-transition: fill-opacity 0.5s;
  transition: fill-opacity 0.5s;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
  -webkit-animation: hoverReg 1.5s linear;
          animation: hoverReg 1.5s linear;
}

@-webkit-keyframes fillOpas {
  0% {
    fill-opacity: 0.1;
  }
  50% {
    fill-opacity: 0.5;
  }
  100% {
    fill-opacity: 1;
  }
}

@keyframes fillOpas {
  0% {
    fill-opacity: 0.1;
  }
  50% {
    fill-opacity: 0.5;
  }
  100% {
    fill-opacity: 1;
  }
}

@-webkit-keyframes hoverReg {
  0% {
    fill: #002855;
  }
  50% {
    fill: #0268dd;
  }
  100% {
    fill: #1697FF;
  }
}

@keyframes hoverReg {
  0% {
    fill: #002855;
  }
  50% {
    fill: #0268dd;
  }
  100% {
    fill: #1697FF;
  }
}

.geography .geography-map__wrapper--mobile {
  display: none;
}

.geography .geography-map__wrapper--mobile .swiper .swiper-wrapper .swiper-slide .slide-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 552px;
}

.geography .geography-map__wrapper--mobile .swiper .swiper-wrapper .swiper-slide .slide-item-wrapper .image img {
  max-width: 260px;
  min-width: 190px;
}

.contacts-bg {
  background: url(../../image/contact-bg.png) bottom left, no-repeat;
  background-size: cover;
}

.contacts {
  padding: 0 165px;
  padding-bottom: 120px;
}

.contacts-title {
  margin-top: 113px;
  font-family: 'SolomonSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #002855;
}

.contacts-items-wrapper {
  max-width: 1025px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-items-wrapper .item {
  margin-top: 59px;
  padding-top: 8px;
  border-left: 5px solid #002855;
  width: 419px;
  min-height: 160px;
  padding-left: 25px;
}

.contacts-items-wrapper .item__description {
  margin-top: 15px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.contacts-items-wrapper .item__number {
  color: #002855;
  margin-top: 15px;
  font-family: 'SolomonSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.contacts-items-wrapper .item__link {
  margin-top: 15px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.presentations {
  padding: 0 165px;
  margin-top: 117px;
  min-height: 700px;
}

.presentations .presentations-title {
  margin-top: 150px;
  font-family: 'SolomonSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #002855;
}

.presentations .all_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.presentations .all_categories .presentation-item {
  margin: 20px 20px;
  width: 190px;
  height: 301px;
  background-color: #002855;
  color: white;
}

.presentations .all_categories .presentation-item__image {
  width: 190px;
  height: 190px;
}

.presentations .all_categories .presentation-item__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentations .all_categories .presentation-item__title {
  font-family: 'SolomonSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 5px 15px 5px 15px;
}

.presentations .all_categories .presentation-item__subtitle {
  height: 37px;
  padding-bottom: 10px;
  font-family: 'SolomonSans-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0px 15px;
  overflow: scroll;
}

.presentations .all_categories .presentation-item__subtitle::-webkit-scrollbar {
  width: 0;
}

.presentations .all_categories .presentation-item__download {
  border: 1px inset #002855;
  text-align: center;
  background-color: white;
}

.presentations .all_categories .presentation-item__download:hover {
  background-color: #0072CE;
  opacity: 50;
  -webkit-transition: .1;
  transition: .1;
}

.presentations .all_categories .presentation-item__download:hover a svg {
  height: 25px;
  width: 25px;
  padding: 0;
  margin: 0;
}

.presentations .all_categories .presentation-item__download:hover a svg path {
  fill: white;
}

.footer-bg {
  bottom: 0;
  background-color: #002855;
}

.footer {
  padding: 0 165px;
  height: auto;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding-top: 90px;
}

.footer-contacts__title {
  margin-top: 36px;
  width: 180px;
  margin-bottom: 5px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: bold;
  font-size: 10.6539px;
  line-height: 13px;
}

.footer-contacts__subtitle {
  width: 180px;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.footer .footer-logos__wrapper {
  display: none;
  width: 533px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-logos__copywrite {
  margin-top: 177px;
  text-align: right;
  font-family: 'Solomon-Sans' Normal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.footer .footer-logos__copywrite--mobile {
  display: none;
}

.menu-bar {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 37px;
  height: 23px;
  cursor: pointer;
}

.menu-bar span,
.menu-bar span:before,
.menu-bar span:after {
  width: 100%;
  position: absolute;
  height: 3px;
  background: #fffefe;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
}

.menu-bar span:before {
  content: "";
  top: -10px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-bar span {
  top: 10px;
}

.menu-bar span:after {
  content: "";
  bottom: -10px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-bar span.active:before {
  content: "";
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.menu-bar span.active:after {
  content: "";
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.menu-bar span.active {
  background: rgba(255, 255, 255, 0);
}

ul {
  list-style: none;
}

.menu {
  width: 70%;
  height: auto;
  background: #002855;
  color: white;
  padding: 5px;
  position: fixed;
  left: -320px;
  top: 4px;
  -webkit-transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu ul li {
  padding: 2px 0;
}

.menu.animate {
  left: 0;
}

.admin-body {
  margin-top: 150px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.admin-body .admin-section {
  margin: 90px 0;
}

.admin-body .admin-section__manage {
  height: 20vh;
  border: 4px inset #4548d3;
  margin: 10px 0;
  overflow-x: scroll;
}

.admin-body .admin-section__manage .manage-element {
  margin: 5px 0;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-body .admin-section__manage .manage-element h6 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.admin-body .admin-section__manage .manage-element a {
  margin-right: 5px;
}

.admin-body .admin-section__manage .manage-element:hover {
  background-color: rgba(150, 141, 141, 0.3);
  -webkit-transition: .5;
  transition: .5;
}

@media screen and (max-width: 1439px) {
  .header-content {
    padding: 0;
  }
  .slider {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    padding: 0;
  }
  .header .header-contacts {
    display: none;
  }
  .slider {
    padding: 0 100px;
    height: 480px;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__image img {
    width: 435px;
    height: 287px;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content {
    margin-top: 0;
  }
  .slider .swiper .swiper-control-btn {
    display: none;
  }
  .directions {
    padding-bottom: 200px;
  }
  .contacts-items-wrapper .item {
    max-width: 350px;
  }
}

@media screen and (max-width: 1200px) {
  .header .header-contacts {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .header .header-contacts {
    display: none;
  }
  .slider .swiper .swiper-control-btn {
    display: none;
  }
  .numbers {
    padding: 35px 165px 65px 165px;
  }
  .directions {
    padding: 0 100px 180 px 100px;
  }
  .geography {
    margin: 0 100px;
  }
  .contacts {
    padding: 0 100px 120px 100px;
  }
  .footer {
    padding: 90px 100px 20px 100px;
    height: auto;
  }
  .footer .footer-logos {
    max-width: 300px;
  }
  .footer .footer-logos__wrapper {
    display: none;
    max-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer .footer-logos__wrapper .logo {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 860px) {
  .header {
    padding: 0;
  }
  .header .header-content {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-content .header-logo {
    padding-left: 60px;
  }
  .header .header-content .header-nav {
    padding-right: 60px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0;
  }
  .header .header-content {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-content .header-logo {
    padding-left: 30px;
  }
  .header .header-content .header-nav {
    padding-right: 30px;
  }
  .slider {
    height: 580px;
    margin-top: 0;
    padding: 0 50px 40px 50px;
  }
  .slider .swiper {
    text-align: center;
  }
  .slider .swiper .swiper-wrapper {
    padding-bottom: 60px;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item {
    margin-top: 60px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content {
    margin: 0;
    padding-top: 20px;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__subtitle {
    display: none;
  }
  .slider .swiper .swiper-control-btn {
    display: none;
  }
  .numbers {
    padding: 0 50px;
  }
  .directions {
    padding: 0 50px;
    padding-bottom: 200px;
  }
  .geography {
    margin: 0;
    padding: 0 50px;
  }
  .contacts {
    padding: 0 50px 60px 50px;
  }
  .footer {
    padding: 90px 50px 30px 50px;
  }
  .presentations {
    padding: 0 35px;
  }
}

@media screen and (max-width: 590px) {
  body > div.section-outor.header-bg > div > div > div > div.header-nav > ul {
    width: 235px;
  }
}

@media screen and (max-width: 530px) {
  #el1 > div > div > div.numbers-item--8 {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  body > div.section-outor.header-bg > div > div > div > div.header-nav > ul {
    width: 235px;
  }
  .header {
    position: fixed;
    padding: 0;
    margin: 0;
  }
  .header .header-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-left: -250px;
    padding: 0;
    width: 340px;
  }
  .header .header-content .header-logo {
    margin-left: 285px;
    padding: 0;
  }
  .header .header-content .header-nav {
    display: none;
    padding: 0;
  }
  .header .header-content .header-contacts {
    display: none;
  }
  .header .header-content .header-nav--mobile {
    display: block;
  }
  .header .header-content .header-nav--mobile .menu-bar {
    margin-right: 30px;
    margin-top: 36px;
  }
}

@media screen and (max-width: 428px) {
  #el1 > div > div > div.numbers-item--8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    position: fixed;
    padding: 0;
    margin: 0;
  }
  .header .header-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-left: -250px;
    padding: 0;
    width: 340px;
  }
  .header .header-content .header-logo {
    margin-left: 285px;
    padding: 0;
  }
  .header .header-content .header-nav {
    display: none;
    padding: 0;
  }
  .header .header-content .header-contacts {
    display: none;
  }
  .header .header-content .header-nav--mobile {
    display: block;
  }
  .header .header-content .header-nav--mobile .menu-bar {
    margin-right: 30px;
    margin-top: 36px;
  }
  .slider {
    margin: 0;
    padding: 0;
    height: 725px;
  }
  .slider .swiper1 {
    margin-top: 0px;
    text-align: left;
  }
  .slider .swiper1 .swiper-wrapper .swiper-slide .carousel-item {
    text-align: left;
    margin: 15px 0;
    margin-top: 57px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slider .swiper1 .swiper-wrapper .swiper-slide .carousel-item .carousel-item__image {
    max-width: 428px;
    height: 388px;
  }
  .slider .swiper1 .swiper-wrapper .swiper-slide .carousel-item .carousel-item__image img {
    display: inline-block;
    max-width: 428px;
    height: 388px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider .swiper1 .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content {
    padding-top: 0;
    margin: 0 15px 30px 15px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider .swiper1 .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__title {
    height: 62px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    /* or 31px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.2px;
  }
  .slider .swiper1 .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__subtitle {
    height: 77px;
    white-space: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* or 127% */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__subtitle {
    width: 310px;
  }
  .slider .swiper .swiper-control-btn {
    display: none;
  }
  .numbers-bg {
    background: url(../../image/numbers-bg.png) no-repeat bottom right, #f5f5f5;
    background-size: cover;
  }
  .numbers {
    padding: 0px 15px 270px 15px;
    text-align: center;
  }
  .numbers .numbers-item {
    margin-top: 40px;
    padding-left: 13px;
    padding-bottom: 10px;
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1.4px solid transparent;
    -o-border-image: linear-gradient(to right, #005CA3, #1697FF);
       border-image: -webkit-gradient(linear, left top, right top, from(#005CA3), to(#1697FF));
       border-image: linear-gradient(to right, #005CA3, #1697FF);
    border-image-slice: 1;
  }
  .numbers .numbers-item .numbers-item__title {
    width: 60px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 50.434px;
    line-height: 61px;
  }
  .numbers .numbers-item .number-line {
    display: none;
  }
  .numbers .numbers-item .numders-item__subtitle {
    margin-top: 0;
    padding-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }
  .numbers .numbers-item--8 {
    margin-top: 40px;
    padding-left: 13px;
    padding-bottom: 10px;
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .numbers .numbers-item--8 .numbers-item__title {
    width: 60px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 50.434px;
    line-height: 61px;
  }
  .numbers .numbers-item--8 .number-line {
    display: none;
  }
  .numbers .numbers-item--8 .numders-item__subtitle {
    margin-top: 0;
    padding-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }
  .directions-bg {
    background: url(../../image/categories_bg-min.png) repeat, #002B5A;
  }
  .directions {
    padding: 50px 22px 40px 22px;
  }
  .directions .directions-title {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
  }
  .directions .directions-item__wrapper {
    padding-bottom: 100px;
  }
  .directions .directions-item__wrapper .directions-item {
    width: 100%;
    height: 396px;
  }
  .directions .directions-item__wrapper .directions-item .directions-item__image--desktop {
    display: none;
  }
  .directions .directions-item__wrapper .directions-item .directions-item__image--mobile {
    display: block;
  }
  .directions .directions-item__wrapper .directions-item .directions-item__image--mobile img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .directions .directions-item__wrapper .directions-item .directions-item__title {
    margin-top: 20px;
    max-width: 320px;
  }
  .directions .directions-item__wrapper .directions-item .directions-item__title span {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }
  .directions .directions-item__wrapper .directions-item a {
    height: 100%;
  }
  .directions .directions-item__wrapper .directions-item a .directions-item__title {
    margin-top: 20px;
    width: 320px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }
  .directions .directions-item__wrapper .directions-item a .directions-item__title .directions-item__link {
    bottom: 20px !important;
  }
  .directions .directions-item__wrapper .directions-item a .directions-item__title .directions-item__link .ico {
    padding: 11px;
    width: 11px;
    height: 11px;
  }
  .directions .directions-item__wrapper .directions-item a .directions-item__title .directions-item__link .link {
    font-style: normal;
    font-weight: 500;
    font-size: 16.6246px;
    line-height: 26px;
  }
  .directions .button-all-links {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-top: -70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .directions .button-all-links a button {
    width: 261px;
  }
  .geography {
    margin: 0;
    max-width: 428px !important;
    position: relative;
    padding: 50px 15px 0px 15px;
  }
  .geography .geography-title {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
  }
  .geography .geography-map__wrapper {
    display: none;
  }
  .geography .geography-map__wrapper--mobile {
    display: block;
  }
  .geography .geography-map__wrapper--mobile .slide-item-wrapper {
    margin-top: 20px;
    text-align: center;
  }
  .geography .geography-map__wrapper--mobile .slide-item-wrapper .title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
  }
  .geography .geography-map__wrapper--mobile .slide-item-wrapper .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16.6246px;
    line-height: 26px;
  }
  .contacts-bg {
    background-image: none;
  }
  .contacts {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    width: 100% !important;
    position: relative;
  }
  .contacts .contacts-title {
    padding: 0;
    padding-bottom: 30px;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
    border-bottom: 2px solid transparent;
    -o-border-image: linear-gradient(to right, #005CA3, #1697FF);
       border-image: -webkit-gradient(linear, left top, right top, from(#005CA3), to(#1697FF));
       border-image: linear-gradient(to right, #005CA3, #1697FF);
    border-image-slice: 5;
  }
  .contacts .contacts-items-wrapper {
    padding: 0;
  }
  .contacts .contacts-items-wrapper .item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 60px 40px 15px;
    margin: 0;
    height: 348px;
    border: none;
    background: url(../../image/numbers-bg.png) no-repeat bottom right, #f5f5f5;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts .contacts-items-wrapper .item .item__img svg {
    width: 158px;
    height: 35px;
  }
  .contacts .contacts-items-wrapper .item .item__description {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .contacts .contacts-items-wrapper .item .item__number {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }
  .contacts .contacts-items-wrapper .item .item__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
  .footer {
    max-width: 428px;
    height: 398px;
    padding: 50px 15px 50px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-contacts .footer-contacts__logo svg {
    width: 222px;
    height: 47px;
  }
  .footer .footer-contacts .footer-contacts__title {
    width: 240px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
  .footer .footer-contacts .footer-contacts__subtitle {
    width: 240px;
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
  .footer .footer-logos {
    display: none;
  }
  .footer .footer-logos__copywrite--mobile {
    display: inline;
    max-width: 428px;
    white-space: pre-wrap;
  }
  .presentations {
    margin: 0;
    padding: 0 165px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 380px) {
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu {
    width: 75%;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__subtitle {
    width: 353px;
    padding-right: 20px;
  }
  .directions {
    padding: 50px 15px 40px 15px;
  }
}

@media screen and (max-width: 320px) {
  .header .header-content .header-logo {
    margin-left: 275px;
  }
  .header .header-content .header-nav--mobile .menu-bar {
    margin: 36px 15px 0 0;
  }
  .slider {
    height: 805px;
  }
  .slider .swiper {
    height: 807px;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__subtitle {
    padding-top: 40px;
    width: 300px;
    height: 96px;
  }
  .slider .swiper .swiper-wrapper .swiper-slide .carousel-item .carousel-item__content .item-content__title {
    padding-top: 20px;
  }
  .directions .directions-item__wrapper .directions-item {
    min-height: 396px;
  }
  .directions .directions-item__wrapper .directions-item a .directions-item__title {
    font-size: 20px;
    width: 270px;
  }
}
/*# sourceMappingURL=style.css.map */